@tailwind base;
@tailwind components;
@tailwind utilities;

.bot-container {
    position: fixed;
    right: 40px !important;
    top: unset !important;
    bottom: 40px !important;
    z-index: 120000;
}

@media only screen and (max-width: 768px) {
    .bot-container {
        right: 0px !important;
        bottom: 0px !important;
    }

    .chat-container {
        width: 100vw !important;
        height: 100vh !important;
    }
}

.bot-container .language-box {
    @apply w-[50px] h-[24px] pr-0 pl-[9px] py-0 text-primary border-primary text-xs
}
.bot-container .language-box option {
    @apply bg-white text-black
}
.bot-container .language-box option:checked {
    @apply bg-primary text-white
}
.bot-container .language-box:not([size]) {
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%23F79052' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
    background-position: right 0.4rem center;
}
.bot-container .required-input  {
    position: relative;
}
.bot-container .required-input::before  {
    display: block;
    content: "*";
    right: 12px;
    top: -3px;
    @apply absolute text-red-700 font-bold text-lg;
}

.bot-admin-container {
    width: 100vw;
    height: calc(100vh - 73px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110000;
}


/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

.bot-admin-container *, .bot-container * {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    @apply scrollbar scrollbar-w-1 scrollbar-thumb-primary scrollbar-track-gray-300
}

.bot-admin-container pre, .bot-container pre {
    white-space: pre-wrap;
}

.bot-admin-container img, .bot-container img {
    user-select: none;
    -webkit-user-drag: none;
    /* Safari */
    -khtml-user-drag: none;
    /* Konqueror */
    -moz-user-drag: none;
    /* Firefox */
    -o-user-drag: none;
    /* Opera */
}

.bot-admin-container input, .bot-container input {
    outline: none;

    /* &:focus {
        box-shadow: none !important;
    } */
}

.bot-admin-container button, .bot-container button {
    outline: none;
    box-shadow: none;
    border: 0px;
}

.bot-admin-container ul, .bot-container ul {
    margin: 0px;
    padding: 0px;
}

.bot-admin-container li, .bot-container li {
    margin: 0px;
    padding: 0px;
}

.bot-admin-container a, .bot-container a {
    outline: none;
    text-decoration: none;
}

.bot-admin-container .max-now, .bot-container .max-now  {
    position: fixed;
    left: 0;
    right: unset;
    top: 0;
    bottom: unset;
    width: 100vw !important;
    height: 100vh !important;
}

.admin-bot-menu.active {
    @apply bg-primary text-white
}

.admin-bot-content.active {
    @apply flex
}