@tailwind base;
@tailwind components;
@tailwind utilities;

.bot-container {
    position: fixed;
    right: 40px !important;
    top: unset !important;
    bottom: 40px !important;
    z-index: 120000;

    @apply shadow-message
}

.bot-admin-container {
    width: 100vw;
    height: calc(100vh - 73px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110000;
}


/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

.bot-admin-container *, .bot-container * {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    @apply scrollbar scrollbar-w-1 scrollbar-thumb-primary scrollbar-track-gray-300
}

.bot-admin-container pre, .bot-container pre {
    white-space: pre-wrap;
}

.bot-admin-container img, .bot-container img {
    user-select: none;
    -webkit-user-drag: none;
    /* Safari */
    -khtml-user-drag: none;
    /* Konqueror */
    -moz-user-drag: none;
    /* Firefox */
    -o-user-drag: none;
    /* Opera */
}

.bot-admin-container input, .bot-container input {
    outline: none;

    /* &:focus {
        box-shadow: none !important;
    } */
}

.bot-admin-container button, .bot-container button {
    outline: none;
    box-shadow: none;
    border: 0px;
}

.bot-admin-container ul, .bot-container ul {
    margin: 0px;
    padding: 0px;
}

.bot-admin-container li, .bot-container li {
    margin: 0px;
    padding: 0px;
}

.bot-admin-container a, .bot-container a {
    outline: none;
    text-decoration: none;
}

.bot-admin-container .max-now, .bot-container .max-now  {
    position: fixed;
    left: 0;
    right: unset;
    top: 0;
    bottom: unset;
    width: 100vw !important;
    height: 100vh !important;
}

.admin-bot-menu.active {
    @apply bg-primary text-white
}

.admin-bot-content.active {
    @apply flex
}